.selector-name {
  font-size: 20px;
  font-family: Arial;
  font-weight: 500;
}

.selector-color {
  display: flexbox;
}

#scroll-red,
#scroll-green,
#scroll-blue {
  width: 255px;
}

input {
  display: inline-flexbox;
  width: 80px;
  height: 20px;
}

#box {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 0.5px solid;
  border-radius: 100px;
}
